<div class="container">
  <span class="big-circle"></span>
  <img src="../../../assets/img/shape.png" class="square" alt="" />
  <div class="form">
    <div class="contact-info">
      <h3 class="title">Let's get in touch</h3>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
        dolorum adipisci recusandae praesentium dicta!
      </p>

      <div class="info">
        <div class="information">
          <img src="../../../assets/img/location.png" class="icon" alt="" />
          <p>92 Cherry Drive Uniondale, NY 11553</p>
        </div>
        <div class="information">
          <img src="../../../assets/img/email.png" class="icon" alt="" />
          <p>lorem@ipsum.com</p>
        </div>
        <div class="information">
          <img src="../../../assets/img/phone.png" class="icon" alt="" />
          <p>123-456-789</p>
        </div>
      </div>

      <div class="social-media">
        <p>Connect with us :</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>

      <form #emailForm="ngForm" (ngSubmit)="sendEmail()">
        <h3 class="title">Contact us</h3>
        <div class="input-container">
          <input type="text" id="username" name="username" [(ngModel)]="username" required class="input" placeholder="Username" />
        </div>
        <div class="input-container">
          <input type="email" id="myEmail" name="myEmail" [(ngModel)]="myEmail" required class="input" placeholder="Email"/>

        </div>
        <div class="input-container">
          <input type="text" id="telephone" name="telephone" [(ngModel)]="telephone" required class="input" placeholder="Telephone" />

        </div>
        <div class="input-container textarea">
          <textarea id="content" name="content" [(ngModel)]="content" required class="input" placeholder="Message"></textarea>
        </div>
        <input type="submit" value="Send" class="btn" />
      </form>
    </div>
  </div>
</div>
