<div class="container">

  <form class="register-form" name="form"  >
    <h1 class="form-title">modifier Profile</h1>
    <div class="main-user-info">
      <div class="user-input-box">
        <label for="fullName">Full Name</label>
        <input type="text"
               id="fullName"
               name="fullName"
               placeholder="Enter Full Name"
               formControlName="fullName"
        />
      </div>
      <div class="user-input-box">
        <label for="username">Username</label>
        <input type="text"
               id="username"
               name="username"
               placeholder="Enter Username"
               formControlName="username"
        />
      </div>
      <div class="user-input-box">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               name="email"
               placeholder="Enter Email"
               formControlName="email"
        />
      </div>
      <div class="user-input-box">
        <label for="phoneNumber">Phone Number</label>
        <input type="text"
               id="phoneNumber"
               name="phoneNumber"
               placeholder="Enter Phone Number"
               formControlName="phoneNumber"
        />
      </div>

    </div>
    <div class="gender-details-box">
      <span class="gender-title">Gender</span>
      <div class="gender-category">
        <input type="radio" name="gender" id="male" formControlName="gender" value="Male">
        <label for="male">Male</label>
        <input type="radio" name="gender" id="female" formControlName="gender" value="Female">
        <label for="female">Female</label>
      </div>
    </div>
    <div >
      <h3>Image Preview</h3>
      <div *ngFor="let url of user.userImages">
        <img [src]="url.url" width="400px" height="400px">
      </div>
    </div>
    <label class="col-form-label pt-0"> Image Upload</label>
    <div class="card-body dropzone-custom p-0">
      <ngx-dropzone class="dropzone-border" (change)="onSelect($event)">
        <ngx-dropzone-label>
          <div class="dz-message needsclick">
            <i class="fa fa-cloud-upload"></i>
            <h4 class="mb-0 f-w-600">Drop files here or click to upload.</h4>
          </div>
        </ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of array" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.filemal.name }} ({{ f.filemal.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
    <div class="form-submit-btn">
      <input type="submit"  value="modifier" >
    </div>
  </form>
</div>

